@import 'variables';
@import 'PersonList.scss';

.person {
  @extend .item-container;
  padding: 5px;
  background-color: $light-gray;
  text-align: center;

  .delete-button {
    float: right;
    padding: 2px 4px;
    background-color: red;
    border: none;
    color: $bg-gray;
  }
}
